*{
    padding: 0;
    margin: 0 ;
}
header{
    background-color: #2C2C2C;
}
.name{
    color:white;
    color: rgb(255, 255, 255);
    font-family: Nico Moji;
    font-size: 24px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
}
.icon{
    margin-right: 10px ;
}
.box{
    max-width: 1100px;
    margin: 0 auto;
}
.logo{
    display: flex;
    align-items:center ;
}
.header_box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 36px 0;
}
.nav__item{
    color:rgb(228, 228, 228);
    margin-right: 63px;
    color: rgb(228, 228, 228);
    font-family: Nico Moji;
    font-size: 18px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0%;
    text-align: left;
}
.nav__list{
    list-style: none;  
    display: flex;
}
.hero_block{
    background: rgb(22, 22, 22);
}
.title{
    color: rgb(228, 228, 228);
    font-family: Nico Moji;
    font-size: 72px;
    font-weight: 400;
    line-height: 72px;
    letter-spacing: 0%;
    text-align: left;
}
.hero{
    width: 550px;
    height: 550px;
}
.hero__text{
    color: rgb(228, 228, 228);
    font-family: Roboto;
    font-size: 20px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0%;
    text-align: left;
    margin-bottom:44px ;
    margin-top: 30px;
}
.button{
    border-radius: 6px;
box-shadow: 0px 2px 13px 0px rgba(226, 158, 0, 0.48);
/* orange */
background: linear-gradient(135.00deg, rgb(226, 163, 0),rgb(226, 149, 0) 100%);
padding: 14.5px 22px;
text-decoration: none;
color: rgb(0, 0, 0);
font-family: Nico Moji;
font-size: 18px;
font-weight: 400;
line-height: 18px;
letter-spacing: 0%;
text-align: left;
}
.hero_box{
    padding-top: 55px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 102px;
}
.footer{
    background-color: #2c2c2c;
}
.footer_box{
    padding: 50px 0 52px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer_list{
    list-style: none;
    display: flex;
}
.footer_title{
    color: rgb(228, 228, 228);
    font-family: Nico Moji;
    font-size: 30px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0%;
    text-align: left;
    margin-bottom: 18px;
}
.footer_text{
    color: rgb(255, 255, 255);
    font-family: Nico Moji;
    font-size: 16px;
    font-weight: 400;
    line-height: 164.06%;
    letter-spacing: 0%;
    text-align: left;
}
.footer_item:not(:last-child){
    margin-right: 80px;
}
.video{
    background-color: rgb(62, 62, 62);
}
.video_box{
    padding: 70px 0 94px;
}
.video_title{
    color: rgb(228, 228, 228);
    font-family: Nico Moji;
    font-size: 48px;
    font-weight: 400;
    line-height: 48px;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 51px;
}
.video_video{
    width: 100%;
    height: 661px;
    border-radius: 29px;
    border: 50px rgb(42, 42, 42) solid;
    box-sizing: border-box;
}
.about{
    background: rgb(7, 54, 131);

}
.about_title{
    color: rgb(228, 228, 228);
    font-family: Nico Moji;
    font-size: 48px;
    font-weight: 400;
    line-height: 48px;
    letter-spacing: 0%;
    text-align: center;
}
.skill_name{
    color: rgb(228, 228, 228);
    font-family: Nico Moji;
    font-size: 30px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0%;
    text-align: left;
    margin-bottom: 15px;
}
.skill_back{
    width: 0;
    height: 10px;
    background-color: rgb(44, 44, 44);
}
.skill_count{
    height: 10px;
    width: 356px;
    background: rgb(0, 196, 240);
}
.st{
    width: 90px;

}
.nd{
    width: 226px;
}
.rd{
    width: 198px ;
}
.th{
    width: 145px;
}
.skills_list{
    list-style: none;
}
.skill_text{
    color: rgb(228, 228, 228);
    font-family: Nico Moji;
    font-size: 36px;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: 0%;
    text-align: left;
    margin-bottom: 72px;
}
.skill{
    margin-bottom: 35px;
}
.about_img{
    width: 454px;
    height: 478px;
    box-sizing: border-box;
    border: 67px solid rgb(0, 196, 240);
    border-radius: 600px;
    box-shadow: 0px 0px 152px 0px rgba(0, 196, 240, 0.42);
}
.about_box{
    padding-top: 55px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 102px;
}
